<div class="card flex justify-content-center p-3">
  <p-galleria [responsiveOptions]="responsiveOptions" [value]="images" (someEvent)="onValueChange($event)"
      [containerStyle]="{ 'max-width': '640px' }" [numVisible]="5">
      <ng-template pTemplate="item" let-item>
          <img [src]="" style="width: 100%;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.thumbnailImageSrc" />
          </div>
      </ng-template>
  </p-galleria>
</div>

<div class="card flex justify-content-center p-3">
    <div class="card flex justify-content-center">
        <p-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSmxoQmrZhtF7hsHBprEkBpIEhVzIFS_lUDQ&s" alt="Image" width="250" />
    </div>

    <div class="card flex justify-content-center">
        <p-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSMYrVXenE5bmUMRyHvwGBdWdtTjY4W2GUMAA&s" alt="Image" width="250"
            [preview]="true" />
    </div>

    <div class="card flex justify-content-center">
        <p-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtndbg9euuLMpYX4WsFcBEPk1yNptDjbIcOA&s" [preview]="true" alt="Image"
            width="250">
            <ng-template pTemplate="indicator">
                <i class="pi pi-check"></i>
            </ng-template>
        </p-image>

    </div>

    <div class="card flex justify-content-center">
        <p-image src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDX9Kr8uH2VqdRSBC_No6Jy9fCHn4ca6573w&s"
            previewImageSrc="https://ca-times.brightspotcdn.com/dims4/default/5c7a039/2147483647/strip/true/crop/4491x3062+0+0/resize/1200x818!/quality/75/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F2d%2Fb7%2F713fcd9bc03dc27561bef9816e70%2F6d860659637343d2b9337b328bca9378" alt="Image" width="250"
            [preview]="true" />
    </div>
</div>




